In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Cleaning for Population table

##### *  We cannot load the data directly because it is not encoded so we encoded it 
##### *  The first 4 columns where just simple information so we skiped that row and consider it from the column header

In [25]:
rpopulation_df = pd.read_csv(
    r'C:\Users\heman\OneDrive\Desktop\Analytics_arena\rural_population_percent.csv',
    encoding='ISO-8859-1',
    skiprows=4
)

In [26]:
rpopulation_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

##### There are some column that we actually not needed so it is better to remove it.

In [27]:
rpopulation_df.drop(['Unnamed: 62', 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [28]:
rpopulation_df.shape

(264, 60)

In [29]:
rpopulation_df.isnull().sum()

Country Name    0
Country Code    0
1960            5
1961            5
1962            5
1963            5
1964            5
1965            5
1966            5
1967            5
1968            5
1969            5
1970            5
1971            5
1972            5
1973            5
1974            5
1975            5
1976            5
1977            5
1978            5
1979            5
1980            5
1981            5
1982            5
1983            5
1984            5
1985            5
1986            5
1987            5
1988            5
1989            5
1990            3
1991            3
1992            3
1993            3
1994            3
1995            3
1996            3
1997            3
1998            3
1999            3
2000            3
2001            3
2002            3
2003            3
2004            3
2005            3
2006            3
2007            3
2008            3
2009            3
2010            3
2011            3
2012            4
2013            4
2014            4
2015            4
2016            4
2017            4
dtype: int64

##### if you look there are less number of nullvalues it is better to remove that row rather than making it complicated

In [19]:
rpopulation_df = rpopulation_df.dropna()

##### Now for better visualization it is better to make the year as that in single column

In [31]:
# Convert wide format to long format
population_long_df = pd.melt(
    rpopulation_df,
    id_vars=['Country Name', 'Country Code'],
    var_name='Year',
    value_name='Population'
)

# Convert 'Year' column to numeric (optional but helpful)
population_long_df['Year'] = population_long_df['Year'].astype(int)

# Preview the reshaped DataFrame
print(population_long_df.head())

  Country Name Country Code  Year  Population
0        Aruba          ABW  1960      49.224
1  Afghanistan          AFG  1960      91.779
2       Angola          AGO  1960      89.565
3      Albania          ALB  1960      69.295
4      Andorra          AND  1960      41.550

In [33]:
population_long_df['Population'] = population_long_df['Population'].round(3)

In [34]:
population_long_df.to_csv('modified_rural_population_1.csv', index=False)